<h1>help</h1>
<p>get help on the railstutorial at the
  <a href="www.railstutorial.org/help">railstutorial help page</a>
  to get help on this sample app,see the
  <a href="www.railstutorial.org/book">railstutorial book</a>
</p>
