= provide(:title,'sample app')
div class="center hero-unit"
  h1 welcome to sample app
  h2
    | this is the home page for
        a href="http://hao123.com/" ruby on rails tutorial
    |   sample application
  = link_to 'sign up now',signup_path,class: "btn btn-large btn-primary"
  = link_to image_tag('Rails.png',alt: 'rails'),'http://rubyonrails.org/'
