<footer class="footer">
  <h1>all right resolved</h1>
  <nav>
    <ul>
      <li><%= link_to 'about',about_path %></li>
      <li><%= link_to 'contact',contact_path %></li>
      <li><a href="http://news.railstutorials.org/">railstutorials</a></li>
    </ul>
  </nav>
</footer>
