<!--<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container"> --><header class="header container">
      
  
      <%= link_to 'sample app','#',id: 'logo' %>
      <nav>
        <ul class="nav nav-pills pull-right">
          <li><%= link_to 'home','#' %></li>
          <li><%= link_to 'help','#' %></li>
          <li><%= link_to 'about','#' %></li>
        </ul>
      </nav>
      </header>
